#updates {
  font-family: 'ProximaNova-Regular';
  color: #666;
  @include grid-row();
  margin-bottom: 1rem;
}

#first-update {
  background: whitesmoke;
  padding: 20px 25px;
  margin-top: 1rem;
  font-family: $font-family-merriweather-regular;
  h6{
	font-family: $font-family-merriweather-regular;
	color: #666666;
  }
}

.update-open {
  padding: 12px 0px 6px 0px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  .recent {
 	font-size: 14px;
 	font-family: $font-family-proxima-regular;
  }
  .drop-down {
  	font-size: 16px;
  }
  &.active{
	i:before{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	}
  }
}

.update-reveal {
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  display: none;
}

.update-reveal p {
  font-size: rem-calc(14);
  font-family: $font-family-merriweather-regular;
  margin: 0px 20px !important;
  padding: 15px 0px;
  border-bottom: 1px solid whitesmoke;
}

.date{
	color: #666;
    font-weight: bold;
}

.update{
  font-size: rem-calc(16);
}

.update-reveal p:last-child {
  border-bottom: none;
  margin-bottom: 0px !important;
}

.update-reveal p:first-child {
  margin-top: 3px !important;
}